*{  /* check if css is working by resetting */
    margin: 0;
    padding: 0;
} 
html, body {
    height: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;  /* put objects vertically */
    overflow: hidden;
}
.user-container{
    background:#EBE3D5 ; /* top bar; use #a9bdce as backup */
    flex: 1;
    display: flex; /* clean up label and input tag */
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}
.user-container label{
    font-size: 14px;
    margin-right: 1rem;
}
.user-container input{
    border-radius: 3px;
    border: none;
    height: 100%;
}
.display-container{
    flex: 12;
    background: #F3EEEA ; /* chat color use: # dadada or #b2c7d9 for alternative */
    overflow-y: scroll; /* scroll for chat that goes over */
}
.input-container{
    flex: 1;
    display: flex;
    justify-content: stretch; /* cover full area */
    align-items: stretch;
}
.input-container span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
    width: 100%; /* cover full area */
}
.chatting-input{
    font-size: 12px;
    height: 100%;
    flex: 8;
    border: none;
}

.send-button {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background: #1F8AFF; 
    border: none; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    outline: none; 
    font-size: 20px; 
    padding: 0; 
}


/*
.send-button{
    flex: 1;
    background: #1F8AFF; /* iMessage blue 
    border: none;
    height: 100%;
    border-radius: 3px;
}

*/

.chatting-list{
    display: flex;
    flex-direction: column;
}

.chatting-list li {
    width: 100%; /* Might take it out */
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.profile {
    flex-shrink: 0; /* Prevents the profile from shrinking */
    margin-right: 20px; /* Adjust space between profile and message */
}

.profile .user{
    font-size: 10px;
    margin-bottom: 0.3rem;
}

.profile .image{
    border-radius: 50%; /* change to squarcle later */
    object-fit: cover; /* make image fit the shape */
    width: 50px;
    height: 50px;
}

.message {
    background: #1F8AFF; /* iMessage color */
    padding: 10px;
    border-radius: 20px; /* Adjust for rounded corners */
    max-width: 60%; /* Prevent message from taking full width */
}

.time {
    padding-left: 10px; /* Space between message and time */
}

.sent{
    flex-direction: row-reverse;  /* reverse sent message */
    float: right;
}


.sent .message{
    background: #1F8AFF; /* iMessage blue */
}

.received .message{
    background: #ffffff; /* iMessage blue */
}

